body { 
  background-color: #001d3d;
  margin: auto;
}

.container { 
  display: flex;
  justify-content: space-around;
  padding: 20px;
}


h1 { 
  color: whitesmoke;
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  padding-bottom: 5px;
  text-align: center;
}


.home-card, .guest-card {
  padding: 95px 105px;
  margin: 0px 50px 20px 50px; 
  background-color: black;
  color: white;
  text-align: center;
  font-size: 90px;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #6f1d1b;
}

/* .guest-card {
  padding: 125px 125px;
  margin: 40px -90px;
  background-color: black;
  color: white; 
  text-align: center;
} */

#reset-btn { 
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.reset { 
  padding: 10px 20px; 
  font-weight: bold;
  font-size: 20px;
  border: none; 
  border-radius: 5px;
  background-color: #fcbf49;
  opacity: 0.7;
}

#btns { 
  display: flex; 
  flex-direction: row;
  justify-content: center;
  opacity: 0.5;
}

button { 
  padding: 7px 17px;
  margin: 5px 5px; 
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  border: none; 
}
